<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822313144402-q097htqbmh5susaep1stgkkjm1kni9s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822313144402-q097htqbmh5susaep1stgkkjm1kni9s5</string>
	<key>API_KEY</key>
	<string>AIzaSyDuR1kVNh9v1XdWRGbRgEX9NLD-u9JWeRM</string>
	<key>GCM_SENDER_ID</key>
	<string>822313144402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DavidKleinberg.Melanoma</string>
	<key>PROJECT_ID</key>
	<string>melanoma-fire</string>
	<key>STORAGE_BUCKET</key>
	<string>melanoma-fire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822313144402:ios:ee9bf810fc0670d4</string>
	<key>DATABASE_URL</key>
	<string>https://melanoma-fire.firebaseio.com</string>
</dict>
</plist>